.site {
    margin: 0 auto;
}

.primary-navigation {
    font-size: 12px;
	font-weight: bold;
}

.site-content .entry-header, .site-content .entry-content, .site-content .entry-summary, .site-content .entry-meta, .page-content {
    max-width: 750px;
}