.post-38,
.post-641,
.post-643 {
    font-size: 14px;
    
    h2 {
        font-size: 18px;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        margin-left: 0;
        list-style: none;
    }
}