.comments-moves {
    
    .comment-content {
        
        p {
            margin-bottom: 0;
        }
        
        ul {
            margin: 0;
            list-style: none;
            font-size: 12px;
        }
    }
    
    .comment-form {
        display: flex;
        flex-direction: column;
        
        .logged-in-as {
            order: 1;
        }
        
        .nm-wrap-comments {
            order: 3;
        }
        
        .comment-form-comment {
            order: 2;
            
            input {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555555;
                background-color: #ffffff;
                background-image: none;
                border: 1px solid #cccccc;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            }
            
            input:focus {
                border-color: #66afe9;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
        }
        
        .form-submit {
            order: 4;
        }
    }
}