.single-move {
    
    .entry-header {
        
        h1 {
            float: left;
            text-transform: none;
            color: #24890d;
        }

        .entry-meta {
            clear: none;
            float: right;
            margin: 9.5px 0;
            text-transform: none;
        }
    }
    
    .move-technical {
        clear: both;
        margin-bottom: 24px;
    }
    
    .move-basics {
        clear: both;
        margin-bottom: 24px;
        
        .difficulty {
            float: left;
        }
        
        .adds {
            float: right;
            text-align: right;
        }
    }
    
    .move-details {
        
        .notation1 {
            clear: both;
            margin: 0 0 24px;
        }

        .notation2 {
            margin: -12px 0 24px;
        }

        .description {
            text-align: justify;
        }

        .example {
            text-align: justify;
            font-style: italic;
        }
    }
    
    .move-meta {
        
        a {
            text-decoration: none;
            color: #41a62a;
        }
        
        a:active,
        a:hover {
            color: #24890d;
        }
        
        .related-moves {
            font-weight: bold;
            color: #767676;
        }
        
        .move-tags {
            display: inline;
            margin: 0;
            
            li {
                display: inline;
                margin-left: 6px;
                list-style: none;
            }
        }
    }
}