.taxonomy-moves {
    margin: 0 auto 48px;
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 12px;
    
    th,
    td {
        border: 1px solid;
        vertical-align: top;
    }
    
    tr:nth-child(even) td {
        background-color: #f2f2f2;
    }
    
    ::before,
    ::after { //For some damn reason. :P
        display: none;
    }
    
    .move-thead {
        font-size: 14px;
        background-color: #d3e7ce;
        
        .move-th-1 {
            padding: 12px;
            width: 25%;
        }
        
        .move-th-2 {
            padding: 12px;
            width: 10%;
            text-align: center;
        }
        
        .move-th-3 {
            padding: 12px;
            width: 50%;
        }
        
        .move-th-4 {
            padding: 12px;
            width: 15%;
            text-align: center;
        }
    }
    
    .move-header {
        margin: 0;
        padding: 6px;
        width: 25%;
    
        .move-title {
            margin: 6px;
            font-family: Acme, Georgia, serif;
            font-size: 14px;
            letter-spacing: .5px;
        }

        .move-subtitle {
            margin: 6px;
            font-size: 12px;
            font-weight: normal;
        }
        
        .move-type {
            margin: 6px;
            list-style: none;
        }
    }
    
    .move-basics {
        padding: 6px;
        width: 10%;
        
        .difficulty {
            margin: 6px;
            text-align: center;
        }

        .adds {
            margin: 6px;
            text-align: center;
            font-size: 10px;
        }
    }

    .move-details {
        width: 50%;

        .notation1 {
            margin: 12px;
            font-size: 12px;
        }

        .notation2 {
            margin: -6px 12px 12px;
            font-size: 12px;
        }

        .description {
            margin: 12px;
            text-align: justify;
        }

        .example {
            display: none;
        }
    }
    
    .move-video {
        padding: 12px;
        width: 15%;
        text-align: center;
    }
}